# RabbitMQ
RABBITMQ_USER=clear_sky
RABBITMQ_PASSWORD=degistir_beni
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_EXCHANGE=flight-events

# device-interface
OPENSKY_BASE_URL=https://opensky-network.org/api
POLL_INTERVAL_MS=15000

FRONTEND_PORT=5173