# RabbitMQ
RABBITMQ_USER=clear_sky
RABBITMQ_PASSWORD=degistir_beni
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_EXCHANGE=flight-events

# Mongo DB
MONGO_USER=clear_sky
MONGO_PASSWORD=degistir_beni
MONGO_PORT=27017

# device-interface
OPENSKY_BASE_URL=https://opensky-network.org/api
POLL_INTERVAL_MS=15000
