PORT=4000

RABBITMQ_URL=amqp://clear_sky:degistir_beni@localhost:5672
RABBITMQ_EXCHANGE=flight-events
RABBITMQ_QUEUE=api-gateway-flight-queue
RABBITMQ_ROUTING_PATTERN=flight.position.*
RABBITMQ_PREFETCH=20